* {
  padding: 0;
  margin: 0;
}

.header {
  height: 200px;
  background-color: #ccc;
  display: flex;
}

.logo {
  width: 100px;
  height: 50px;
  background: #27045b6a;
  margin-top: 30px;
  margin-left: 30px;
}
.logo:hover {
  background: #52a572;
}

.item {
  width: 300px;
  height: 100px;
  border: 1px solid #000;
  margin-bottom: 50px;
  border-radius: 10px 20px 30px 40px;
  background-image: url(https://avatars.mds.yandex.net/i?id=7ca37631f61a12aa88f6eb3c42fee71a_sr-5501746-images-thumbs&n=13);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content {
  margin: 100px 0;
}

.footer {
  height: 200px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 100px;
  height: 40px;
  background-color: rgba(27, 119, 173, 0.603);
  color: #52a572;
  text-align: center;
  line-height: 40px;
  border-radius: 10px 0 0 0;
  margin: 0;
}

.test {
  background-color: rgba(147, 80, 80, 0.318);
}

.button:hover {
  background-color: rgba(25, 52, 120, 0.586);
  color: rgba(0, 255, 149, 0.501);
}

.footer-link {
  text-decoration: none;
}

.description:hover {
  color: rgb(82, 178, 178);
}

.description {
  color: rgb(19, 73, 73);
  font-size: 25px;
  font-weight: bold;
}
